<div class="relative pointer-events-none">
  <img
    src="./branding/icon-shiny.png"
    alt="EatRainbows Icon"
    class="size-16 relative z-20"
  />
  <img
    src="./branding/icon.png"
    alt="EatRainbows Icon"
    class="z-10 size-16 absolute top-0 left-0 scale-[250%] blur-[6px] mix-blend-lighten opacity-85 animate-spin-slow"
  />
</div>
